---
http_interactions:
- request:
    method: get
    uri: https://private-bfc6a-widergytrainingnorthutilityapi.apiary-mock.com/notas?autor=Rodrigo%20Lugo%20Melgar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "notas": [
                {
                    "id": 1,
                    "titulo": "Nota sobre Harry Potter",
                    "contenido": "Excelente libro de fantasia",
                    "autor": "J.K.Rowling"
                },
                {
                    "id": 2,
                    "titulo": "Reseña Animales fantásticos",
                    "contenido": "Muy recomendado",
                    "autor": "J.K.Rowling"
                }
            ]
        }
  recorded_at: Mon, 07 Aug 2023 13:08:39 GMT
recorded_with: VCR 6.2.0
