---
http_interactions:
- request:
    method: get
    uri: https://private-1971b-widergytrainingsouthutilityapi.apiary-mock.com/Notas?Autor=Rodrigo%20Lugo%20Melgar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "Notas": [
                {
                    "Id": 1,
                    "Titulo": "Nota sobre Harry Potter",
                    "Contenido": "Excelente libro de fantasia",
                    "Autor": "J.K.Rowling"
                },
                {
                    "Id": 2,
                    "Titulo": "Reseña Animales fantásticos",
                    "Contenido": "Muy recomendado",
                    "Autor": "J.K.Rowling"
                }
            ]
        }
  recorded_at: Mon, 07 Aug 2023 13:09:16 GMT
recorded_with: VCR 6.2.0
